<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Template: White (2018-02-21 14:41)</string>
	<string>M8.3-5989-2</string>
	<string>G-r320-3D139</string>
</array>
</plist>
